body {
    background: url(https://planetarium.truman.edu/files/2017/10/Space-background.jpg);
    background-repeat: no-repeat;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    /* z-index: 1; */
}


h1 {
    color: #7DF9FF;
    font-size: 65px;
    text-shadow: 0 0 0.15em #1da9cc;
    filter: blur(0.007em);
    animation: shake 2.5s linear; 
}

p {
    color: #7DF9FF;
    font-size: 25px;
    text-shadow: 0 0 0.15em #1da9cc;
    filter: blur(0.007em); 
}

.container {
    position: relative;
}

.container > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#board {
    background: url(https://i.imgur.com/3iaaaMp.png);
    background-size: 100% 100%;
    width: 70%;
    height: 80;
    border: 2px solid #1da9cc;
    position: absolute;
    justify-content: center;
    z-index: 0;
    margin-left: 15%;
  }
#asteroidCanvas {
    width: 70%;
    height: 80;
    margin-left: 15%;
    z-index: 1;
}

#fuelCanvas {
    /* border: 5px solid purple; */
    width: 70%;
    height: 80;
    margin-left: 15%;
    z-index: 2;
}
          
#startBtn {
    border: none;
    background: none;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    position: absolute;
}

#startBtn:hover{
    cursor: pointer;
}


#instructionsBtn {
border: none;
background: none;
position: absolute;
top: 60%;
left: 50%;
z-index: 3;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
position: absolute;
}

#instructionsBtn:hover {
    cursor: pointer;
}
  
#gameStart {
    height: 80px;
    width: 200px;
    border-radius: 20%;
}
.hud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 30%;
}
.progress{
    height: 30px;
    width: 200px;
    background: lime;
    border: 1px solid #F920AC;
}
label {
    color: #1da9cc; 
}

#placeholder {
    height: 495px;
}
